  .logo {
    transition: 0.2s ease-in-out;
  }
  
  .logo:hover {
    transform: scale(1.04) rotate(-1deg);
    animation: logoAnim 3s infinite;
  }
  
  @keyframes logoAnim {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  